body {
  border: 0px ;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  background-color: black; 
}

h1 {
  color: blue;
  float: left;
  height: 1%;
  width: 93%;
  position: relative;
  left: 14%;
  
}

row {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

div.column {
  float: left;
  width: 40%;
  border: px solid;
  padding: 1px;
}

d {
  color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: relative;
  left: 70%;
  bottom: 4px;
  
}
e {
  
  color: white;
  font-size: 25px;
  height: 5% solid;
  width: 46% solid;
  position: relative;
  left: 14%;
  bottom: 5px;
}
 c {
  color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: absolute;
  left: 395px;
  top: 76px;
   text-decoration: none;
}
a {
  color: blue;
  text-decoration: none;
}  

h {

color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: absolute;
  
}
span2 {
   background-color: darkblue;
  
  
}
button {
  padding: 14px;
  border: 0;
  border-radius: 10px;
  color: red;
  background-color: transparent;
  height: 5px;
  width: 67px;
  position: absolute;
  left: 39px;
  top: 77px;
  border: px solid;
}

t {
  height: 0px;
 width: 490px;
 content: "";
 border: solid 15px;
 display: block;
 position: relative;
 bottom: -75px;
 right: -30%;
 border-left-color: darkblue;
 border-right-color: darkblue;
  border-top-color: darkblue;
  border-bottom-color: darkblue;

}

marquee {
 position: absolute;
 bottom: 0px;
  font-size: 30px;
  right: 0px;
  width: 2500px;
  color: white;
}

