body {
  border: 0px;
  height: 593px;
  width: 1000px;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  overflow: scroll;
  background-color: black;
}

h1 {
  color: blue;
  float: left;
  height: 1%;
  width: 93%;
  position: relative;
  left: 34%;
  text-decoration: none;
}

row {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

div.column {
  float: left;
  width: 20%;
  border: px solid;
  padding: 1px;
}

S {
  color: white;
  text-decoration: none;
  position: relative;
  top: 22px;
  left: 38px;
  font-size: 33px;
  color: yellow;
}

a {
  text-decoration: none;
  color: blue;
}

ho {
  position: relative;
  left: -80px;
  font-size: 31px;
  top: -30px;
  color: black;
}

at {
  font-size: 28px;
  color: white;
  background-color: darkblue;
  position: absolute;
  left: 240px;
  top: 200px;
}

cm {
  font-size: 28px;
  color: white;
  background-color: darkblue;
  position: absolute;
  left: 240px;
  top: 260px;
}

n {
  color: white;
  background-color: darkblue;
  text-decoration: none;
  position: absolute;
  top: 322px;
  left: 240px;
  font-size: 27px;
}

second {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 380px;
}

section {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 440px;
  width: 900px;
}

boost {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 560px;
}

note {
  color: yellow;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 610px;
}

c {
  position: absolute;
  top: 1770px;
}

ntwo {
   color: yellow;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 660px;
}

sone {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 720px;
}

stwo {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 780px;
}

sthree {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 840px;
}

sfour {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 900px;
}

ssix {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 960px;
  width: 740px;
}

sseven {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 1050px;
}

seight {
  color: white;
  background-color: darkblue;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 1110px;
  width: 740px;
}

nthree {
  color: yellow;
  position: absolute;
  font-size: 27px;
  left: 240px;
  top: 1230px;
}