body {
  border: 0px ;
  height: 593px;
  width: 1000px;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  overflow: scroll;
  background-color: black;  
}

h1 {
  color: blue;
  float: left;
  height: 1%;
  width: 93%;
  position: relative;
  left: 14%;
  
}

row {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

div.column {
  float: left;
  width: 40%;
  border: px solid;
  padding: 1px;
}

d {
  color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: relative;
  left: 70%;
  bottom: 4px;
  
}
button {
  
  background-color: black;
  color: white;
  font-size: 22px;
  height: 5% solid;
  width: 46% solid;
  position: relative;
  left: -534px;
  bottom: -15px;
}
 c {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 395px;
  top: 95px;
   text-decoration: none;
   background-color: darkblue;
}
a {
  color: blue;
  text-decoration: none;
}  

h {

color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: absolute;
  
}
span2 {
   background-color: darkblue;
  
}

S {
  color: white;
  text-decoration: none;
  position: relative;
  top: 22px;
  right: 152px;
  font-size: 33px;
  color: yellow;
}

bu {
  color: black;
  text-decoration: none;
  position: relative;
  top: 22px;
  right: -139px;
  font-size: 24px;
  color: white;
  background-color: darkblue;
}

is {
  color: white;
  background-color: darkblue;
  left: 395px;
  position: absolute;
  top: 155px;
  font-size: 27px;
  width: 230px;
}

se {
   background-color: white;
  position: relative;
  left: 628px;  
  display: block;
  top: -7px;
  height: 43px;
  width: 253px;
  background-color: black;
}