body {
  border: 0px;
  height: 593px;
  width: 1000px;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  overflow: scroll;
  background-color: black;
}

h1 {
  color: blue;
  float: left;
  height: 1%;
  width: 93%;
  position: relative;
  left: 14%;
  text-decoration: none;
}

row {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

div.column {
  float: left;
  width: 40%;
  border: px solid;
  padding: 1px;
}

S {
  color: white;
  text-decoration: none;
  position: relative;
  top: 22px;
  right: 152px;
  font-size: 33px;
  color: yellow;
}

a {
  text-decoration: none;
  color: blue;
}

ho {
  position: relative;
  left: -80px;
  font-size: 31px;
  top: -30px;
  color: black;
}

at {
  font-size: 28px;
  color: white;
  background-color: darkblue;
  position: absolute;
  left: 290px;
  top: 250px;
}

ad {
  font-size: 28px;
  color: yellow;
  position: absolute;
  left: 230px;
  top: 370px;
  width: 550px;
}

fs {
  font-size: 28px;
  color: yellow;
  position: absolute;
  left: 180px;
  top: 320px;
  width: 550px;
}