body {
  border: 0px ;
  height: 593px;
  width: 920px;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  overflow: scroll;
  background-color: black;  
}

h1 {
  color: blue;
  float: left;
  height: 1%;
  width: 93%;
  position: relative;
  left: 44px;
  top: 10px;
  
}

row {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

div.column {
  float: left;
  width: 100%;
  border: px solid;
  padding: 1px;
}

d {
  position: relative;
  left: 340px;
  bottom: 4px;  
  display: block;
  top: 33px;
  background-color: white;
  height: 260px;
  width: 143px;
  border-radius: 13px;

}

se {
  position: relative;
  left: 345px;
  bottom: 4px;  
  display: block;
  top: -203px;
  background-color: black;
  height: 210px;
  width: 133px;

}

bt {
  position: relative;
  left: 399px;
  bottom: 4px;  
  display: block;
  top: -200px;
  background-color: black;
  height: 21px;
  width: 21px;
  border-radius: 113px;
}
bg {
  position: relative;
  left: 402px;
  bottom: 4px;  
  display: block;
  top: -218px;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 113px;
}
sc {
  position: relative;
  left: 395px;
  bottom: 4px;  
  display: block;
  top: -462px;
  background-color: black;
  height:4px;
  width: 31px;
  border-radius: 113px;
}

c {
  position: relative;
  left: 383px;
  bottom: 4px;  
  display: block;
  top: -467px;
  background-color: black;
  height:6px;
  width: 6px;
  border-radius: 113px;
}

sl {
  position: relative;
  left: 306.5px;
  bottom: 4px;  
  display: block;
  top: -480px;
  background-color: transparent;
  height:4px;
  width: 1px;
  border-radius: 113px;
}

a {
  color: blue;
  text-decoration: none;
}  

h {

color: white;
  font-size: 25px;
  height: 5%;
  width: 46%;
  position: absolute;
  
}
span2 {
   background-color: darkblue;
  
}

S {
  text-decoration: none;
  position: relative;
  top: -48px;
  right: -200px;
  font-size: 33px;
  color: yellow;
}

l {
  color: red;
  font-size: 29px;
  position:relative;
  left: 110px;
  top: -400px;
  width: 346px;
}

sl {
   color: red;
  font-size: 29px;
  position:relative;
  left: 490px;
  top: -470px;
  width: 346px;
}

he {
   color: red;
  font-size: 29px;
  position:relative;
  left: 293px;
  top: -463px;
  width: 346px;
}

note {
  position:relative;
  top: -260px;
  left: 200px;
  color: yellow;
  font-size: 33px;
}

red {
  color: #4dffff;
  font-size: 42px;
}

seven {
  background-color: darkblue;
  color: white;
  text-decoration: none;
  font-size: 30px;
  position:relative;
  top: -620px;
  left: 800px;
}

older {
  background-color: darkblue;
  color: white;
  text-decoration: none;
  font-size: 30px;
  position:relative;
  top: -565px;
  left: 785px;
}